body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding-top: 40px;
}

input {
  padding: 15px;
  width: 280px;
  font-size: 18px;
}

button {
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 25px;
  font-size: 22px;
}